/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 4px;
  }
  
  textarea, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4A90E2 #F5F5F5;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #F5F5F5;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4A90E2;
    border-radius: 10px;
    border: 2px solid #F5F5F5;
  }